name: solar-system-project

on:
   workflow_dispatch:
   push:
      branches:
          - main
          - feature/explore

env:
    MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
    MONGO_USERNAME: superuser
    MONGO_PASSWORD: ${{ secrets.MANGO_DBPASSWORD }}

jobs:
   my-project:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Node-js-setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm installing
        run: npm install
      
      - name: npm testing
        run: npm test


   Code-Coverage:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Node-js-setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm-installing
        run: npm install
      
      - name: npm-testing
        id: npm-testings
        run: npm test

      - name: npm coverage
        continue-on-error: true
        run: npm run coverage

   Docker:
      needs: [my-project,Code-Coverage]
      permissions:
        packages: write
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: docker login
        uses: docker/login-action@v3
        with:
            username: ${{ vars.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSOWRD }}
            
      - name: GHCR login
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build for Test
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ${{ vars.DOCKER_USERNAME }}/solar-system:${{ github.sha }}
     
      - name: docker image Testing
        run: |
         docker images
         docker run --name solar-system-app -d -p 3000:3000 -e MONGO-URI=$MONGO_URI -e MONGO_USERNAME=$MONGO_USERNAME -e MONGO_PASSWORD=${{ secrets.MANGO_DBPASSWORD }} ${{ vars.DOCKER_USERNAME }}/solar-system:${{ github.sha }}
         
         export IP=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' solar-system-app)
         echo $IP
         

         echo Testing image URL
         wget -q -O - 127.0.0.1:3000/live | grep live

      - name: Docker push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ vars.DOCKER_USERNAME }}/solar-system:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/solar-system:${{ github.sha }}

   kubernetes:
      needs: [Docker]
      outputs:
         APP_INGRESS_URL: ${{ steps.set-ingress-host-address.outputs.APP_INGRESS_HOST }}
      runs-on: self-hosted
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
    
      - name: Install Kubectl CLI
        uses: azure/setup-kubectl@v4
      
      - name: Fetch Kubernetes Cluster Details
        run: |
          kubectl version --client
          echo ---------------------------------
          kubectl get nodes

      - name: save kubernetes ingress controller as variable
        run: |
          echo "INGRESS_IP=$(kubectl get svc ingress-nginx-controller -n ingress-nginx -ojsonpath='{.status.loadBalancer.ingress[*].ip}')" >> $GITHUB_ENV
      
      - name: Replace tokens
        uses: cschleiden/replace-tokens@v1
        with:
          tokenPrefix: '_{_'
          tokenSuffix: '_}_'
          files: '["kubernetes/development/*.yaml"]'
        env:
          NAMESPACE: ${{ vars.NAMESPACE }}
          REPLICAS: ${{ vars.REPLICAS }}
          IMAGE: ${{ vars.DOCKER_USERNAME }}/solar-system:${{ github.sha }}
          INGRESS_IP: ${{ env.INGRESS_IP }}

      - name: Checking the replace files
        run: |
         cat kubernetes/development/*.yaml

      - name: create Mongo DB secret
        run: |
          kubectl -n ${{ vars.NAMESPACE }} create secret generic mongo-db-creds \
          --from-literal=MONGO_URI=${{ env.MONGO_URI }} \
          --from-literal=MONGO_USERNAME=${{ env.MONGO_USERNAME }} \
          --from-literal=MONGO_PASSWORD=${{ env.MONGO_PASSWORD }} \
          --save-config \
          --dry-run=client \
          -o yaml | kubectl apply -f -

      - name: deploy to dev env
        run: |
          kubectl apply -f kubernetes/development
          kubectl get all -n ${{ vars.NAMESPACE }}
      
      - name: set app ingress host URL
        id: set-ingress-host-address
        run: |
          echo "APP_INGRESS_HOST=$(kubectl get ing -n ${{ vars.NAMESPACE }} -o jsonpath="{.items[*].spec.tls[*].hosts[*]}")" >> "$GITHUB_OUTPUT"
   
   Integration-Testing:
      name: Integration-Testing
      needs: [kubernetes]
      runs-on: self-hosted
      steps:
      - name: Checkout URL
        env:
          URL: ${{ needs.kubernetes.outputs.APP_INGRESS_URL }}
        run: |
          echo $URL
          echo "..............................."
          curl https://$URL/live -s -k | jq -r .status | grep -i live
