name: solar-system-project

on:
   workflow_dispatch:
   push:
      branches:
          - main
          - feature/explore

env:
    MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
    MONGO_USERNAME: superuser
    MONGO_PASSWORD: ${{ secrets.MANGO_DBPASSWORD }}

jobs:
   my-project:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Node-js-setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm installing
        run: npm install
      
      - name: npm testing
        run: npm test


   Code-Coverage:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Node-js-setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm-installing
        run: npm install
      
      - name: npm-testing
        id: npm-testings
        run: npm test

      - name: npm coverage
        continue-on-error: true
        run: npm run coverage

   Docker:
      needs: [my-project,Code-Coverage]
      permissions:
        packages: write
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: docker login
        uses: docker/login-action@v3
        with:
            username: ${{ vars.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSOWRD }}
            
      - name: GHCR login
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build for Test
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ${{ vars.DOCKER_USERNAME }}/solar-system:${{ github.sha }}
     
      - name: docker image Testing
        run: |
         docker images
         docker run --name solar-system-app -d -p 3000:3000 -e MONGO-URI=$MONGO_URI -e MONGO_USERNAME=$MONGO_USERNAME -e MONGO_PASSWORD=${{ secrets.MANGO_DBPASSWORD }} ${{ vars.DOCKER_USERNAME }}/solar-system:${{ github.sha }}
         
         export IP=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' solar-system-app)
         echo $IP
         

         echo Testing image URL
         wget -q -O - 127.0.0.1:3000/live | grep live

      - name: Docker push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ vars.DOCKER_USERNAME }}/solar-system:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/solar-system:${{ github.sha }}

   kubernetes:
      needs: [Docker]
      # runs-on: self-hosted
      # steps:
      # - name: Checkout Repository
      #   uses: actions/checkout@v5
    
      # - name: Install Kubectl CLI
      #   uses: azure/setup-kubectl@v4
      
      # - name: Fetch Kubernetes Cluster Details
      #   run: |
      #     kubectl version --client
      #     echo ---------------------------------
      #     kubectl get nodes
          runs-on: ubuntu-latest

      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Install Kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Install kubeadm and kubelet
        run: |
          sudo apt-get update
          sudo apt-get install -y apt-transport-https ca-certificates curl
          sudo curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
          echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
          sudo apt-get update
          sudo apt-get install -y kubelet kubeadm kubectl
          sudo apt-mark hold kubelet kubeadm kubectl

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Verify Cluster Access
        run: |
          kubectl version --client
          echo "--------------------------"
          kubectl get nodes