name: solar-system-project

on:
   workflow_dispatch:
   push:
      branches:
          - main
          - feature/explore

env:
    MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
    MONGO_USERNAME: superuser
    MONGO_PASSWORD: ${{ secrets.MANGO_DBPASSWORD }}

jobs:
   my-project:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Node-js-setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm installing
        run: npm install
      
      - name: npm testing
        run: npm test


   Code-Coverage:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Node-js-setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm installing
        run: npm install
      
      - name: npm testing
        run: npm run coverage
        continue-on-error: true
