name: solar-system-project

on:
   workflow_dispatch:
   push:
      branches:
          - main
          - feature/explore

env:
    MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
    MONGO_USERNAME: superuser
    MONGO_PASSWORD: ${{ secrets.MANGO_DBPASSWORD }}

jobs:
   my-project:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Node-js-setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm installing
        run: npm install
      
      - name: npm testing
        run: npm test


   Code-Coverage:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Node-js-setup
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm-installing
        run: npm install
      
      - name: npm-testing
        id: npm-testings
        run: npm test

      - name: npm coverage
        #continue-on-error: true
        run: npm run coverage


      - name: npm test-results       
        if: failure() && (steps.npm-testings == 'failure' || steps.npm-testings == 'success')
        uses: actions/upload-artifact@v4
        with:
            name: test-results
            path: test-results3.xml